# Ignore bundler config.
/.bundle

# Ignore upload directories
/public/upload/contact/photo/*

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret