# Ignore bundler config.
/.bundle

# Ignore upload directories
/public/upload/contact/photo/*
!/public/upload/contact/photo/.keep

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
*.swp
*~
.project
.DS_Store
.idea
.secret