%section.per_page
  Per page :
  - USERS_PER_PAGE.each do |number|
    - if (session[:users][:per_page] == @users.count and number == "all")                     |
    or (session[:users][:per_page] != @users.count and number == session[:users][:per_page])  |
      = link_to number, per_page_users_path(number), class: "current"
    - else
      = link_to number, per_page_users_path(number)