<% if object.errors.any? %>
  <div class="alert-error">
    <p>The form contains <%= pluralize(object.errors.keys.count, "error") %>.</p>
    <ul>
    <% object.errors.to_hash(true).each do |key, messages| %>
      <li><%= messages.first %></li>
    <% end %>
    </ul>
  </div>
<% end %>